.title {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  margin: 24px 0;
}
/* 
1. Исправить кнопку "скрыть". Она не дрлжна пекрекрывать сптсок актеров, а должна возвращать на страницу фильма
2. Исправить кнопку "назад". она должна возвращать на предыдущюю страницу, а не какую-нибудь конкреьную
3. Исправить инпут. Он должен оставаться одного размера и не должен скакать
*/