.reviewsList{
  color: #fff;
  text-align: left;
}

.reviewItem{
  padding: 19px 0;
}

.reviewItem h3{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.reviewItem p{
  line-height: 1.8;
}